@page {
  size: A4;

  margin-top: 25mm;
  margin-bottom: 15mm;
  margin-left: 23mm;
  margin-right: 13mm;

  @bottom-right {
    font-family: Arial;
    content: "Pagina " counter(page) " van " counter(pages);
  }
}

@page :first {
  margin-top: 10mm;
}

body {
  font-family: "Flanders Art Sans";
  font-size: 11pt;
  line-height: 1.8;
  font-variant-ligatures: none;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 15mm;
  margin-bottom: 15mm;
}

.logo {
  text-align: center;
}

.signature-container {
  font-size: 12pt;
  margin-top: 6rem;
  margin-right: 6rem;
  display: flex;
  justify-content: flex-end;
}

.signature-container p {
  margin: 0;
}

table {
  width: 100%;
}

p {
  margin: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

#attendees,
#absentees {
  table-layout: fixed;
}

#absentees {
  break-after: page;
}

.separator {
  text-align: center;
}

[data-indentation-level='1'] {
  margin-left: 2.6rem;
}

[data-indentation-level='2'] {
  margin-left: 5.2rem;
}

[data-indentation-level='3'] {
  margin-left: 7.8rem;
}

[data-indentation-level='4'] {
  margin-left: 10.4rem;
}

ol:not(.au-c-list-horizontal) {
  list-style: decimal;
  margin-left: 2.6rem;
  padding-left: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

ol:not(.au-c-list-horizontal)[data-list-style='decimal'] {
  list-style-type: decimal;
}

ol:not(.au-c-list-horizontal)[data-list-style='upper-roman'] {
  list-style-type: upper-roman;
}

ol:not(.au-c-list-horizontal)[data-list-style='lower-alpha'] {
  list-style-type: lower-alpha;
}

ol:not(.au-c-list-horizontal)[data-list-style='upper-alpha'] {
  list-style-type: upper-alpha;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
ol:not(.au-c-list-horizontal)[data-list-style='upper-alpha'] ol {
  margin-left: 1rem;
}

ol:not(.au-c-list-horizontal) > li > ol:not([data-list-style]) {
  list-style-type: inherit;
}

ol[data-list-style=decimal-extended] {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li:before {
  display: table-cell;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  list-style-type: decimal;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) ol:not([data-list-style]) {
  list-style-type: inherit;
}
