@page {
  size: A4;

  margin-top: 25mm;
  margin-bottom: 15mm;
  margin-left: 23mm;
  margin-right: 13mm;

  @bottom-right {
    font-family: Arial;
    content: "Pagina " counter(page) " van " counter(pages);
  }
}

@page :first {
  margin-top: 10mm;
}

body {
  font-family: "Flanders Art Sans";
  font-size: 11pt;
  line-height: 1.8;
  font-variant-ligatures: none;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 15mm;
  margin-bottom: 15mm;
}

.logo {
  text-align: center;
}

.signature {
  margin-top: 6rem;
  float: right;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  vertical-align: top;
}

#absentees {
  break-after: page;
}

.separator {
  text-align: center;
}
